
.one-box2 {
    background: #ff22f7;
    height: 200px;
    width: 200px;
    box-shadow: 5px 4px 11px #b1b1b1;
    display: none;
}

.one-box3 {
    background: #effe08;
    height: 200px;
    width: 400px;
    box-shadow: 5px 4px 11px #b1b1b1;
    display: none;
}


.box-1 {
    margin-top: 20px;
    background: #000;
    height: 200px;
    width: 200px;
    box-shadow: 5px 4px 11px #b1b1b1;
    position: absolute;
}

.anim-box {
    margin-bottom: 270px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background: #9C27B0;
    color: #fff;
    border: solid 1px #ce92d9;
}

#panel {
    padding: 50px;
}

#flip {
    font-size: 30px;
    text-transform: uppercase;
    font-family: lato;
    font-weight: 700;
}

#panel2 {
    padding: 50px;
    height: 200px;
}

#flip2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: lato;
    font-weight: 700;
    margin-top: 100px;
}


#panel2, #flip2 {
    padding: 5px;
    text-align: center;
    background: #9C27B0;
    color: #fff;
    border: solid 1px #ce92d9;
}
